<!DOCTYPE html>

@model Flight_Manager.Web.Models.Flight.FlightIndexViewModel

<html lang="zxx" class="no-js">
<body>
    <div class="overlay overlay-bg">
    </div>
    <div class="container">
        <div id="_idContainer003" class="Basic-Text-Frame">
            <table id="table001" class="Basic-Table">
                <colgroup>
                    <col class="_idGenTableRowColumn-1" />
                    <col class="_idGenTableRowColumn-1" />
                    <col class="_idGenTableRowColumn-1" />
                    <col class="_idGenTableRowColumn-1" />
                    <col class="_idGenTableRowColumn-1" />
                    <col class="_idGenTableRowColumn-1" />
                    <col class="_idGenTableRowColumn-1" />
                    <col class="_idGenTableRowColumn-1" />
                    <col class="_idGenTableRowColumn-1" />
                    <col class="_idGenTableRowColumn-1" />
                </colgroup>
                <thead>
                    <tr class="Basic-Table _idGenTableRowColumn-2">
                        <td class="Basic-Table CellOverride-1">
                            <p class="Basic-Paragraph ParaOverride-1"><span class="CharOverride-2">Plane Type</span></p>
                        </td>
                        <td class="Basic-Table CellOverride-2">
                            <p class="Basic-Paragraph ParaOverride-1"><span class="CharOverride-2">From</span></p>
                        </td>
                        <td class="Basic-Table CellOverride-2">
                            <p class="Basic-Paragraph ParaOverride-1"><span class="CharOverride-2">Destination</span></p>
                        </td>
                        <td class="Basic-Table CellOverride-2">
                            <p class="Basic-Paragraph ParaOverride-1"><span class="CharOverride-2">Departure</span></p>
                        </td>
                        <td class="Basic-Table CellOverride-2">
                            <p class="Basic-Paragraph ParaOverride-1"><span class="CharOverride-2">Flight duration</span></p>
                        </td>
                        <td class="Basic-Table CellOverride-2">
                            <p class="Basic-Paragraph ParaOverride-1"><span class="CharOverride-2">Bussines Seats Left</span></p>
                        </td>
                        <td class="Basic-Table CellOverride-2">
                            <p class="Basic-Paragraph ParaOverride-1"><span class="CharOverride-2">Economy Seats Left</span></p>
                        </td>
                        <td class="Basic-Table CellOverride-2">
                            <p class="Basic-Paragraph ParaOverride-1"><span class="CharOverride-2">Pilot's Name</span></p>
                        </td>
                        <td class="Basic-Table CellOverride-3">
                            <p class="Basic-Paragraph ParaOverride-1"><span class="CharOverride-2">Info/Reservate</span></p>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var i = 0;
                        @foreach (var item in Model.Items)
                        {
                            var hours = item.FlightLanding.Subtract(item.FlightTakeOff).Hours.ToString();
                            var minutes = item.FlightLanding.Subtract(item.FlightTakeOff).Minutes.ToString();
                            var seconds = item.FlightLanding.Subtract(item.FlightTakeOff).Seconds.ToString();
                            var arrivalTime = $"{hours} Hours {minutes} Minutes {seconds} Seconds";
                            if (i % 2 == 0)
                            {
                                <tr class="Basic-Table _idGenTableRowColumn-2">
                                    <td class="Basic-Table CellOverride-5">@Html.DisplayFor(modelItem => item.PlaneModel)</td>
                                    <td class="Basic-Table CellOverride-5">@Html.DisplayFor(modelItem => item.LocationFrom)</td>
                                    <td class="Basic-Table CellOverride-5">@Html.DisplayFor(modelItem => item.LocationTo)</td>
                                    <td class="Basic-Table CellOverride-5">@Html.DisplayFor(modelItem => item.FlightTakeOff)</td>
                                    <td class="Basic-Table CellOverride-5">@Html.DisplayFor(modelItem => arrivalTime)</td>
                                    <td class="Basic-Table CellOverride-5">@Html.DisplayFor(modelItem => item.CapacityBuisness)</td>
                                    <td class="Basic-Table CellOverride-5">@Html.DisplayFor(modelItem => item.CapacityNormal)</td>
                                    <td class="Basic-Table CellOverride-5">@Html.DisplayFor(modelItem => item.PilotName)</td>
                                    <td class="Basic-Table CellOverride-6">
                                        <a asp-area="Identity" asp-page="/FlightList/Info" asp-route-id="@item.Id" class="btn btn-warning btn-sm text-black">Info</a>
                                        <a asp-controller="Home" asp-action="Reservate" asp-route-id="@item.Id" class="btn btn-success btn-sm text-black">Click here</a>
                                    </td>

                                </tr>
                                i++;
                            }
                            else
                            {
                                <tr class="Basic-Table _idGenTableRowColumn-2">
                                    <td class="Basic-Table CellOverride-7">@Html.DisplayFor(modelItem => item.PlaneModel)</td>
                                    <td class="Basic-Table CellOverride-8">@Html.DisplayFor(modelItem => item.LocationFrom)</td>
                                    <td class="Basic-Table CellOverride-8">@Html.DisplayFor(modelItem => item.LocationTo)</td>
                                    <td class="Basic-Table CellOverride-8">@Html.DisplayFor(modelItem => item.FlightTakeOff)</td>
                                    <td class="Basic-Table CellOverride-8">@Html.DisplayFor(modelItem => arrivalTime) Hours</td>
                                    <td class="Basic-Table CellOverride-8">@Html.DisplayFor(modelItem => item.CapacityBuisness)</td>
                                    <td class="Basic-Table CellOverride-8">@Html.DisplayFor(modelItem => item.CapacityNormal)</td>
                                    <td class="Basic-Table CellOverride-8">@Html.DisplayFor(modelItem => item.PilotName)</td>
                                    <td class="Basic-Table CellOverride-9">
                                        <a asp-area="Identity" asp-page="/FlightList/Info" asp-route-id="@item.Id" class="btn btn-warning btn-sm text-black">Info</a>
                                        <a asp-controller="Home" asp-action="Reservate" asp-route-id="@item.Id" class="btn btn-success btn-sm text-black">Click here</a>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    }
                </tbody>
                <!--
                <ul class="pagination">
                    for (var i = 1; i <= Model.Pager.PagesCount; i++)
                    {
                        <li class="page-item (i == Model.Pager.CurrentPage ? "active" : "")">
                            <a asp-route-Pager.CurrentPage="i" class="page-link">i</a>
                        </li>
                    }
                </ul>
                -->

            </table>
        </div>
    </div>
</body>
</html>


