@page
@model Flight_Manager.Web.Areas.Identity.Pages.FlightList.InfoModel
@{

    <table id="table001" class="Basic-Table">
        <colgroup>
            <col class="_idGenTableRowColumn-1" />
            <col class="_idGenTableRowColumn-1" />
            <col class="_idGenTableRowColumn-1" />
            <col class="_idGenTableRowColumn-1" />
            <col class="_idGenTableRowColumn-1" />
            <col class="_idGenTableRowColumn-1" />
            <col class="_idGenTableRowColumn-1" />
            <col class="_idGenTableRowColumn-1" />
        </colgroup>
        <thead>
            <tr class="Basic-Table _idGenTableRowColumn-2">
                <td class="Basic-Table CellOverride-1">
                    <p class="Basic-Paragraph ParaOverride-1"><span class="CharOverride-2">Plane Type</span></p>
                </td>
                <td class="Basic-Table CellOverride-2">
                    <p class="Basic-Paragraph ParaOverride-1"><span class="CharOverride-2">From</span></p>
                </td>
                <td class="Basic-Table CellOverride-2">
                    <p class="Basic-Paragraph ParaOverride-1"><span class="CharOverride-2">Destination</span></p>
                </td>
                <td class="Basic-Table CellOverride-2">
                    <p class="Basic-Paragraph ParaOverride-1"><span class="CharOverride-2">Departure</span></p>
                </td>
                <td class="Basic-Table CellOverride-2">
                    <p class="Basic-Paragraph ParaOverride-1"><span class="CharOverride-2">Arrival</span></p>
                </td>
                <td class="Basic-Table CellOverride-2">
                    <p class="Basic-Paragraph ParaOverride-1"><span class="CharOverride-2">Bussines Seats Left</span></p>
                </td>
                <td class="Basic-Table CellOverride-2">
                    <p class="Basic-Paragraph ParaOverride-1"><span class="CharOverride-2">Economy Seats Left</span></p>
                </td>
                <td class="Basic-Table CellOverride-3">
                    <p class="Basic-Paragraph ParaOverride-1"><span class="CharOverride-2">Pilot’s Name</span></p>
                </td>
            </tr>
        </thead>
        <tbody>
            @{
                        <tr class="Basic-Table _idGenTableRowColumn-2">
                            <td class="Basic-Table CellOverride-4">@Html.DisplayFor(modelItem => Model.Flight.PlaneModel)</td>
                            <td class="Basic-Table CellOverride-5">@Html.DisplayFor(modelItem => Model.Flight.LocationFrom)</td>
                            <td class="Basic-Table CellOverride-5">@Html.DisplayFor(modelItem => Model.Flight.LocationTo)</td>
                            <td class="Basic-Table CellOverride-5">@Html.DisplayFor(modelItem => Model.Flight.FlightTakeOff)</td>
                            <td class="Basic-Table CellOverride-5">@Html.DisplayFor(modelItem => Model.Flight.FlightLanding)</td>
                            <td class="Basic-Table CellOverride-5">@Html.DisplayFor(modelItem => Model.Flight.CapacityBuisness)</td>
                            <td class="Basic-Table CellOverride-5">@Html.DisplayFor(modelItem => Model.Flight.CapacityNormal)</td>
                            <td class="Basic-Table CellOverride-6">@Html.DisplayFor(modelItem => Model.Flight.PilotName)</td>
                        </tr>
                }
        </tbody>
        <!--
        <ul class="pagination">
            for (var i = 1; i <= Model.Pager.PagesCount; i++)
            {
                <li class="page-item (i == Model.Pager.CurrentPage ? "active" : "")">
                    <a asp-route-Pager.CurrentPage="i" class="page-link">i</a>
                </li>
            }
        </ul>
        -->

    </table>

    <div>
        <a asp-action="Index">Back to homepage</a>
    </div>
}
